{% extends "layout.html" %}

{% block pageTitle %}
Contact history
{% endblock %}

{% block header %}
  {% include "prototype-sprint-wise/sprint23/common/opt1/header-navigation_contactHistory-active.html" %}
    {% include "prototype-sprint-wise/sprint23/common/opt1/keydetail-bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-sprint-wise/sprint23/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "prototype-sprint-wise/sprint23/common/phase-banner--user-research.html" %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="home-page.html">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">Contact history</a>
  </li>
</ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Contact history</h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <!-- Tab button here -->
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#add-to-contact-history">
              Add to contact history
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#view-contact-history">
              View contact history
            </a>
          </li>
        </ul>
        <!-- Tab1 content start here -->
        <div class="govuk-tabs__panel" id="add-to-contact-history">
          <h2 class="govuk-heading-l">Add to contact history</h2>
          <form action="engagement-log-journey/what-service-called-about" method="post" novalidate>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                      You have not added anything to the contact history during this call
                    </h3>
                  </legend>
                </fieldset>
              </div>
              <button class="govuk-button" data-module="govuk-button" onclick="alert(global_var['a']['b']);">
                Add to contact history
              </button>
          </form>
        </div>
        <!-- Tab2 content start here -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="view-contact-history">
          <div id="showCtDetails">
            <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Details about incoming telephone call on 17 October 2023</h2>
              </div>
            </div>
            <div class="colleague-view-container-light-grey">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <span class="govuk-caption-m">Caller</span>
                    <h3 class="govuk-heading-s">Jane Doe (Appointee)</h3>
            </div>
            <div class="govuk-grid-column-one-third">
                    <!-- <p class="govuk-body-s">Label name</p>
                    <p class="govuk-body govuk-!-font-weight-bold ">Value</p> -->
                    <span class="govuk-caption-m">Call taken by</span>
                    <h3 class="govuk-heading-s">Agent (1003)</h3>
            </div>
            <div class="govuk-grid-column-one-third">
                    <!-- <p class="govuk-body-s">Label name</p>
                    <p class="govuk-body govuk-!-font-weight-bold ">Value</p> -->
                    <span class="govuk-caption-m">Length of call</span>
                    <h3 class="govuk-heading-s">15 Minutes</h3>
            </div>
                </div>
            </div>
            <div class="govuk-!-padding-top-5">
              <span class="govuk-caption-m">Started at</span>
              <h2 class="govuk-heading-m">Tuesday 17 April 2023, 12:00</h2>
            </div>
            <div class="colleague-view-upcomming-payment-benefit">
                      <h3 class="govuk-heading-m">Employment and Support Allowance</h3>
                      <!-- <h2 class="govuk-heading-s">Payment enquiry</h2> -->
                      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                          Next payment date
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">Resolved</strong>
                          </dd> 
                          <dd class="govuk-summary-list__value">
                            
                            <p class="govuk-body">
                              There is no note added
                            </p>
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Next payment amount
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">Resolved</strong>
                          </dd> 
                          <dd class="govuk-summary-list__value">
                              <div class="govuk-body"><span class="govuk-!-font-weight-bold govuk-!-padding-right-1">Note:</span>by Agent (1003)
                                <span class="govuk-caption-m govuk-!-font-size-16 govuk-!-padding-top-1">17 October 2023 at 12:00</span>
                              </div>
                              <p class="govuk-body">This is an example to show what a note could look like.</p>
                          </dd>
                        </div>
                      </dl>
            </div>
            <div>
              <span class="govuk-caption-m">Ended at</span>
              <h3 class="govuk-heading-m">Tuesday 17 October 2023, 12:15</h3>
            </div>
         </div>
        </div>
    </div>
  </div>
</div>


  <!-- logic for filter function -->

  <script type="text/javascript">
    function showFilter() {
      // document.getElementById("demo").innerHTML = "Hello World";
      // alert("Hello world");
      var link = document.getElementById('filter-section');
      var link2 = document.getElementById('show-filter-btn');
      var esaTable = document.getElementById('table-ESA');
      var hideFilterBtn = document.getElementById('hide-filter-btn');
      var showOldFilter = document.getElementById('old-filter-design');
      // alert("Hello world",link.className);
      // link.style.display = 'block'; 
      hideFilterBtn.classList.remove("govuk-visually-hidden");
      // link.classList.remove("govuk-visually-hidden");
      showOldFilter.classList.remove("govuk-visually-hidden");
      link2.classList.add("govuk-visually-hidden");
      esaTable.classList.add("govuk-visually-hidden");
    }

    function cancelFilter() {
      var link = document.getElementById('filter-section');
      var link2 = document.getElementById('show-filter-btn');
      var hideFilterBtn = document.getElementById('hide-filter-btn');
      var showOldFilter = document.getElementById('old-filter-design');
      // var link4 = document.getElementById('apply-filter-btn');
      link.classList.add("govuk-visually-hidden");
      link2.classList.remove("govuk-visually-hidden");
      hideFilterBtn.classList.add("govuk-visually-hidden");
      showOldFilter.classList.add("govuk-visually-hidden");
    }


    function applyFilter() {

      var link3 = document.getElementById('filter-selected');
      // var link4 = document.getElementById('apply-filter-btn');
      var link2 = document.getElementById('show-filter-btn');
      var link5 = document.getElementById('filter-section'); 
      var tableDefault = document.getElementById('default-table')
      var esaTable = document.getElementById('table-ESA');
      link3.classList.remove("govuk-visually-hidden");
      link2.classList.remove("govuk-visually-hidden");
      // link4.classList.add("govuk-visually-hidden");
      link5.classList.add("govuk-visually-hidden");
      tableDefault.classList.add("govuk-visually-hidden");
      esaTable.classList.remove("govuk-visually-hidden");
    }

    function clearFilter() {
      var link3 = document.getElementById('filter-selected');
      var esaTable = document.getElementById('table-ESA');
      var tableDefault = document.getElementById('default-table')
      // var link4 = document.getElementById('apply-filter-btn');
      link3.classList.add("govuk-visually-hidden");
      tableDefault.classList.remove("govuk-visually-hidden");
      esaTable.classList.add("govuk-visually-hidden");
      link.classList.remove("govuk-visually-hidden");
    }

 
    
    </script>

{% endblock %}
