{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block header %}
  {% include "prototype-sprint-wise/sprint23/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-sprint-wise/sprint23/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check your answers</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit discussed
            </dt>
            <dd class="govuk-summary-list__value">
              Employment and Support Allowance (ESA)
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="selectBenefit.html">
                Change<span class="govuk-visually-hidden"> ESA benefit</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Questions asked
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                {% for benefit in data['questionAsk_esa'] %}
                <li>{{ benefit }}</li>
                {% endfor %}
              </ul>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="questionAsk_esa.html">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the next payment date question resolved?
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag">
                Resolved
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="questionAnswered.html">
                Change<span class="govuk-visually-hidden"> Next payment date question status</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the next payment amount question resolved?
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag">
                Resolved
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="questionAnswered.html">
                Change<span class="govuk-visually-hidden"> Next payment amount question status</span>
              </a>
            </dd>
          </div>
        </dl>
        <form action="discussAnythingElse" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
