dialog {
  position: absolute;
  left: 0;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: block;
}

dialog:not([open]) {
  display: none;
}

dialog + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

._dialog_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

.govuk-timeout-warning {
  display: none;
  padding: 20px;
  max-width: 500px;
}

@media (min-width: 40.0625em) {
  .govuk-timeout-warning {
    padding: 30px;
  }
}

.govuk-timeout-warning .govuk-button {
  margin: 0 15px 15px 0;
}

@media (max-width: 48.0525em) {
  .govuk-timeout-warning .govuk-button {
    margin: 0 5px 0 0;
  }
}

.govuk-timeout-warning[open] {
  display: block;
}

.govuk-timeout-warning[open] + .backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.govuk-timeout-warning[open]::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.govuk-timeout-warning-overlay {
  overflow: hidden;
}

.govuk-notification-banner--blue {
  background-color: #1d70b8;
  border-color: #1d70b8;
}

.js-enabled .dwp-timeout-warning-fallback {
  display: none;
}

.dwp-language-toggle {
  font-family: Arial,sans-serif;
  font-size: 14px;
}

.dwp-language-toggle__list {
  margin-top: 1em;
  text-align: right;
}

.app-example-page {
  padding: 25px;
}

.app-example__component {
  padding: 30px;
  background: #ffffff;
}

.app-example__component p {
  max-width: initial;
}

@media (max-width: 40.0525em) {
  .no-js .app-pane__content .app-content {
    padding-bottom: 10px;
  }
}

.govuk-timeout-warning {
  display: none;
  padding: 20px;
  max-width: 500px;
}

@media (min-width: 40.0625em) {
  .govuk-timeout-warning {
    padding: 30px;
  }
}

.govuk-timeout-warning .govuk-button {
  margin: 0 10px 15px 0;
}

@media (max-width: 48.0525em) {
  .govuk-timeout-warning .govuk-button {
    margin: 0 5px 0 0;
  }
}

.govuk-timeout-warning[open] {
  display: block;
}

.govuk-timeout-warning[open] + .backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.govuk-timeout-warning[open]::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.govuk-timeout-warning-overlay {
  overflow: hidden;
}


.app-example-page {
padding: 70px 0px;
min-height: -webkit--webkit-max-content;
background-color: rgba(0, 0, 0, 0.8);
position: absolute;
height: 100%;
width: 100%;
z-index: 9999;
}
