// nhs card css

.nhsuk-card {
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #d8dde0;
  position: relative;
  width:100%
}


@media (min-width: 40.0625em) {
  .nhsuk-card {
      margin-bottom:30px
  }
}

.nhsuk-card__img {
  border-bottom: 1px solid #f0f4f5;
  display: block;
  width:100%
}

@media print {
  .nhsuk-card__img {
      display:none
  }
}

.nhsuk-card__content {
  padding:20px
}

.nhsuk-card__content > * :first-child {
  margin-top:0
}

.nhsuk-card__content > * :last-child {
  margin-bottom:0
}

@media (min-width: 40.0625em) {
  .nhsuk-card__content {
      padding:20px
  }
}

.nhsuk-card__heading, .nhsuk-card__metadata, .nhsuk-card__description {
  margin-bottom:16px
}

.nhsuk-card--clickable {
  border-bottom-width:4px
}

.nhsuk-card--clickable .nhsuk-card__heading a::before, .nhsuk-card--clickable .nhsuk-card__link::before {
  background-color: rgba(255, 255, 255, 0);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top:0
}

// it is not from nhs css
.nhsuk-card--clickable:hover {
  border-color: #aeb7bd;
}

.nhsuk-card--clickable:active {
  border-color: #aeb7bd;
  bottom:-1px
}

.nhsuk-card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  padding:0
}

@media (max-width: 48.0525em) {
  .nhsuk-card-group {
      margin-bottom:30px
  }
}

.nhsuk-card-group + h2, .nhsuk-card-group + .nhsuk-heading-l, .nhsuk-card-group + h3, .nhsuk-card-group + .nhsuk-heading-m {
  padding-top:0
}

.nhsuk-card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom:0
}

@media (max-width: 48.0525em) {
  .nhsuk-card-group__item {
      flex:0 0 100%
  }
}

.nhsuk-card-group__item .nhsuk-card {
  margin-bottom:30px
}

@media (max-width: 48.0525em) {
  .nhsuk-card-group__item .nhsuk-card {
      margin-bottom:16px
  }

  .nhsuk-card-group__item:last-child .nhsuk-card {
      margin-bottom:0
  }
}

.nhsuk-card--feature {
  margin-top:40px
}

@media (min-width: 40.0625em) {
  .nhsuk-card--feature {
      margin-top:48px
  }
}

.nhsuk-card__heading--feature {
  background: #005eb8;
  color: #fff;
  display: inline-block;
  left: -25px;
  margin-bottom: 8px;
  margin-right: -24px;
  padding: 8px 24px;
  position: relative;
  top:-8px
}

@media (min-width: 40.0625em) {
  .nhsuk-card__heading--feature {
      left: -33px;
      margin-right: -32px;
      padding: 8px 32px;
      top:-16px
  }
}

.nhsuk-card__content--feature {
  padding-top:0 !important
}

.nhsuk-card--care {
  margin-top:40px
}

@media (min-width: 40.0625em) {
  .nhsuk-card--care {
      margin-top:48px
  }
}

.nhsuk-card--care .nhsuk-card--care__heading-container {
  background-color: #005eb8;
  color:#fff
}

@media print {
  .nhsuk-card--care {
      border: 4px solid #212b32;
      color: #212b32;
      page-break-inside:avoid
  }
}

.nhsuk-card--care__heading-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 16px;
  position:relative
}

@media (min-width: 40.0625em) {
  .nhsuk-card--care__heading-container {
      padding-left:32px
  }
}

@media (min-width: 40.0625em) {
  .nhsuk-card--care__heading-container {
      padding-right:32px
  }
}

.nhsuk-card--care__heading {
  font-weight: 600;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0;
  padding-top:0
}

@media (min-width: 40.0625em) {
  .nhsuk-card--care__heading {
      font-size: 24px;
      font-size: 1.5rem;
      line-height:1.33333
  }
}

@media print {
  .nhsuk-card--care__heading {
      font-size: 18pt;
      line-height:1.15
  }
}

@media print {
  .nhsuk-card--care__heading {
      color: #212b32;
      fill:#212b32
  }

  .nhsuk-card--care__heading:active, .nhsuk-card--care__heading:focus, .nhsuk-card--care__heading:visited {
      color:#1d70b8
  }
}

.nhsuk-card--care__arrow {
  bottom: -10px;
  display: block;
  height: 20px;
  left: 30px;
  overflow: hidden;
  position: absolute;
  transform: rotate(45deg);
  width:20px
}

@media print {
  .nhsuk-card--care__arrow {
      display:none
  }
}

@media (min-width: 40.0625em) {
  .nhsuk-card--care__arrow {
      left:38px
  }
}

.nhsuk-card--care__arrow:before, .nhsuk-card--care__arrow:after {
  border: solid 32px #005eb8;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width:0
}

.nhsuk-card--care--urgent .nhsuk-card--care__heading-container {
  background-color: #d5281b;
  color:#fff
}

@media print {
  .nhsuk-card--care--urgent {
      border: 6px solid #212b32;
      color: #212b32;
      page-break-inside:avoid
  }
}

.nhsuk-card--care--urgent .nhsuk-card--care__arrow:before, .nhsuk-card--care--urgent .nhsuk-card--care__arrow:after {
  border-color:#d5281b
}

.nhsuk-card--care--emergency .nhsuk-card--care__heading-container {
  background-color: #d5281b;
  color:#fff
}

@media print {
  .nhsuk-card--care--emergency {
      border: 8px solid #212b32;
      color: #212b32;
      page-break-inside:avoid
  }
}

.nhsuk-card--care--emergency .nhsuk-card--care__arrow:before, .nhsuk-card--care--emergency .nhsuk-card--care__arrow:after {
  border-color:#d5281b
}

.nhsuk-card--care--emergency .nhsuk-card__content {
  background-color: #212b32;
  border: 0;
  color: #fff;
  position:static
}

.nhsuk-card--care--emergency .nhsuk-card__content a {
  color:#fff
}

.nhsuk-card--care--emergency .nhsuk-card__content a:focus {
  color:#212b32
}

.nhsuk-card--care--emergency .nhsuk-details, .nhsuk-card--care--emergency .nhsuk-details__summary {
  color:#fff
}

.nhsuk-card--care--emergency .nhsuk-details__summary:hover {
  color:#fff
}

.nhsuk-card--care--emergency .nhsuk-details__summary:focus {
  color:#212b32
}

.nhsuk-card--care--emergency .nhsuk-action-link__link .nhsuk-icon__arrow-right-circle {
  fill:#fff
}

.nhsuk-card__content--primary {
  padding-right:75px
}

@media (min-width: 48.0625em) {
  .nhsuk-card__content--primary {
      height:100%
  }
}

.nhsuk-card__content--primary .nhsuk-icon {
  display: block;
  fill: #005eb8;
  margin-top: -nhsuk-spacing(2);
  position: absolute;
  right: 24px;
  top:50%
}

.nhsuk-card--secondary {
  background: rgba(0, 0, 0, 0);
  border-bottom: 4px solid #d8dde0;
  border-left: 0;
  border-right: 0;
  border-top:0
}

.nhsuk-card__content--secondary {
  padding-left: 0;
  padding-right: 0;
  padding-top:0
}


.nhsuk-card__content>*:first-child {
  margin-top: 0;
}
.nhsuk-card__content > *:last-child {
  margin-bottom: 0;
}

.nhsuk-card--no-visited-state:visited {
  color: #1d70b8;
}



.nhsuk-card {
  position: relative;
} 
.nhsuk-card a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
