{% extends "layout.html" %}

{% block pageTitle %}
  Add notes
{% endblock %}

{% block header %}
  {% include "prototype-sprint-wise/sprint27/common/opt1/header-navigation_home-active.html" %}
      {% include "prototype-sprint-wise/sprint27/common/opt1/keydetail-bar.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-sprint-wise/sprint27/common/phase-banner--user-research.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block footer %}
  {% include "prototype-sprint-wise/sprint27/common/footer.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="note-added-page" method="post" novalidate>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="add-note">
                Add notes about this call
              </label>
            </h1>
            <textarea class="govuk-textarea govuk-!-margin-bottom-3" id="add-note" name="add-note" rows="5" aria-describedby="more-detail-hint">{{ data['add-note'] }}</textarea>
            <div id="more-detail-hint" class="govuk-hint">
              2000 characters remaining
            </div>
          </div>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You cannot edit this note once it has been saved.
            </strong>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
