{% extends "layout.html" %}

{% block pageTitle %}
  Add notes
{% endblock %}

{% block header %}
  {% include "prototype-sprint-wise/sprint27/common/opt1/header-navigation_home-active.html" %}
      {% include "prototype-sprint-wise/sprint27/common/opt1/keydetail-bar.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-sprint-wise/sprint27/common/phase-banner--user-research.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block footer %}
  {% include "prototype-sprint-wise/sprint27/common/footer.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Were these enquiries resolved?</h1>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Payment enquiry type</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <p>Name of all Benefit:  {{ data['Which-benefits-do-you-get'] }}</p>
            <p>Total number of Benefits:  {{ data['Which-benefits-do-you-get']| length }}</p>
            
            <!-- show which benefit is selected -->
            {% set benefitStored = data['Which-benefits-do-you-get'] %}
            {% if benefitStored == 'Attendance Allowance' %}
                <h2 class="govuk-heading-m">Attendance Allowance</h2> 
            {% endif %} 
            {% if benefitStored == 'Carer’s Allowance' %}
                <h2 class="govuk-heading-m">Carer’s Allowance</h2> 
            {% endif %} 
            {% if benefitStored == 'Disability Living Allowance (DLA) for adults' %}
            <h2 class="govuk-heading-m">Disability Living Allowance (DLA) for adults</h2> 
            {% endif %} 
            {% if benefitStored == 'Employment and Support Allowance (ESA)' %}
            <h2 class="govuk-heading-m">Employment and Support Allowance (ESA)</h2> 
            {% endif %} 
            
            {% for benefit in data['Which-benefits-do-you-get'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><p class="govuk-body govuk-!-margin-bottom-0">{{ benefit }}<br></p></td>
              <td class="govuk-table__cell">
                <div class="govuk-form-group govuk-!-margin-bottom-0">
                  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                    <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="changedName">
                          Resolved
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="changedName-2">
                          Not resolved
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </td>
            </tr>
            {% else %}
              <p>No benefit selected</p>
              {% endfor %}
          </tbody>
        </table>
    </div>
  </div>

{% endblock %}


