{% extends "layout.html" %}

{% block pageTitle %}
  Add notes
{% endblock %}

{% block header %}
  {% include "prototype-sprint-wise/sprint27/common/opt1/header-navigation_home-active.html" %}
      {% include "prototype-sprint-wise/sprint27/common/opt1/keydetail-bar.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-sprint-wise/sprint27/common/phase-banner--user-research.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block footer %}
  {% include "prototype-sprint-wise/sprint27/common/footer.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="list-checkbox-items" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which benefits did you discuss with Christopher Fox?
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Attendance-Allowance" name="Which-benefits-did-you-discussed" type="checkbox" value="Employment and Support Allowance (ESA)" {{ checked("Which-benefits-did-you-discussed", "Employment and Support Allowance (ESA)") }}>
                <label class="govuk-label govuk-checkboxes__label" for="Attendance-Allowance">
                  Employment and Support Allowance (ESA)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Carers-Allowance" name="Which-benefits-did-you-discussed" type="checkbox" value="Carer’s Allowance" {{ checked("Which-benefits-did-you-discussed", "Carer’s Allowance") }}>
                <label class="govuk-label govuk-checkboxes__label" for="Carers-Allowance">
                  Carer’s Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Employment-and-Support-Allowance-(ESA)" name="Which-benefits-did-you-discussed" type="checkbox" value="Personal Independence Payment (PIP)" {{ checked("Which-benefits-did-you-discussed", "Personal Independence Payment (PIP)") }}>
                <label class="govuk-label govuk-checkboxes__label" for="Employment-and-Support-Allowance-(ESA)">
                  Personal Independence Payment (PIP)
                </label>
              </div>
            </div>
          </fieldset>
        </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>

{% endblock %}

