{% extends "layout.html" %}
{% block pageTitle %}
 Why are you deleting this contact record? 
{% endblock %}

{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_6/common/header.html" %}
  {% include "/prototype-dev-baseline/mvp-1_6/common/keydetail-bar.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-dev-baseline/mvp-1_6/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}  
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/prototype-dev-baseline/mvp-1_6/delete-record-router-2" method="post">

      <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#Select-1">Select why you are deleting this contact record</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      
      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Why are you deleting this contact record?
            </h1>
          </legend>
          <p id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Select why you are deleting this contact record
            </p>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              You are deleting the whole contact record.
            </strong>
          </div>
          <div id="delete-hint" class="govuk-hint">
            Select the most appropriate answer
          </div>

          <!-- RADIO OPTIONS -->
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                    id="delete-reason-incorrect-inappropriate"
                    name="delete-reason"
                    type="radio"
                    value="incorrect-or-inappropriate-information">
              <label class="govuk-label govuk-radios__label"
                    for="delete-reason-incorrect-inappropriate">
                To remove incorrect or inappropriate information
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                    id="delete-reason-pii"
                    name="delete-reason"
                    type="radio"
                    value="personal-identifiable-information">
              <label class="govuk-label govuk-radios__label"
                    for="delete-reason-pii">
                To remove personal identifiable information
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                    id="delete-reason-sensitive"
                    name="delete-reason"
                    type="radio"
                    value="sensitive-information">
              <label class="govuk-label govuk-radios__label"
                    for="delete-reason-sensitive">
                To remove information that should not be widely available
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                    id="delete-reason-requested"
                    name="delete-reason"
                    type="radio"
                    value="account-holder-request">
              <label class="govuk-label govuk-radios__label"
                    for="delete-reason-requested">
                The account holder has asked for this record to be removed
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                    id="delete-reason-retention"
                    name="delete-reason"
                    type="radio"
                    value="retention-requirement">
              <label class="govuk-label govuk-radios__label"
                    for="delete-reason-retention">
                To meet retention requirements
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="/prototype-dev-baseline/mvp-1_6/telephony/contact-history">Cancel</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}