{% extends "layout.html" %}

{% block pageTitle %}
  Which benefits did you discuss with the caller?
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-8/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}  
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="selectQuestion" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Which benefits did you discuss?
                </h1>
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_aa" name="benefitList" type="checkbox" value="Attendance Allowance" {{ checked ('benefitList', 'Attendance Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_aa">
                    Attendance Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_bb" name="benefitList" type="checkbox" value="bb" {{ checked ('benefitList', 'Bereavement Benefit') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_bb">
                    Bereavement Benefit
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_ca" name="benefitList" type="checkbox" value="Carer Allowance" {{ checked ('benefitList', 'Carer Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_ca">
                    Carer's Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_dla" name="benefitList" type="checkbox" value="dla" {{ checked ('benefitList', 'Disability Living Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_dla">
                    Disability Living Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_esa" name="benefitList" type="checkbox" value="Employment and Support Allowance" {{ checked ('benefitList', 'Employment and Support Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_esa">
                    Employment and Support Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_is" name="benefitList" type="checkbox" value="is" {{ checked ('benefitList', 'Income Support') }} >
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_is">
                    Income Support
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_ib" name="benefitList" type="checkbox" value="ib" {{ checked ('benefitList', 'Incapacity Benefit') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_ib">
                    Incapacity Benefit
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_ivb" name="benefitList" type="checkbox" value="ivb" {{ checked ('benefitList', 'Invalidity Benefit ') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_ivb">
                    Invalidity Benefit 
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_jsa" name="benefitList" type="checkbox" value="jsa" {{ checked ('benefitList', "Job Seeker's Allowance") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_jsa">
                    Job Seeker's Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_ma" name="benefitList" type="checkbox" value="ma" {{ checked ('benefitList', 'Maternity Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_ma">
                    Maternity Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_pc" name="benefitList" type="checkbox" value="pc" {{ checked ('benefitList', 'Pension Credit') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_pc">
                    Pension Credit
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_pip" name="benefitList" type="checkbox" value="Personal Independence Payment" {{ checked ('benefitList', 'Personal Independence Payment') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_pip">
                    Personal Independence Payment
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_sp" name="benefitList" type="checkbox" value="State Pension" {{ checked ('benefitList', 'State Pension') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_sp">
                    State Pension
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_sda" name="benefitList" type="checkbox" value="Severe Disablement Allowance" {{ checked ('benefitList', 'Severe Disablement Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_sda">
                    Severe Disablement Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_stb" name="benefitList" type="checkbox" value="Short Term Benefit" {{ checked ('benefitList', 'Short Term Benefit') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_stb">
                    Short Term Benefit
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_wb" name="benefitList" type="checkbox" value="Widow's Benefit" {{ checked ('benefitList', "Widow's Benefit") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_wb">
                    Widow's Benefit
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_wb_bb" name="benefitList" type="checkbox" value="bereavement_benefit" {{ checked ('benefitList', 'bereavement_benefit') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_wb_bb">
                    Bereavement_benefit
                  </label>
                </div>
                <!--
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_pip" name="benefitList" type="checkbox" value="pip" {{ checked ('benefitList', 'Personal Independence Payment') }} >
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_pip">
                      Personal Independence Payment
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_rea" name="benefitList" type="checkbox" value="Reduced Earnings Allowance" {{ checked ('benefitList', 'Reduced Earnings Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_rea">
                    Reduced Earnings Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_sp" name="benefitList" type="checkbox" value="State Pension" {{ checked ('benefitList', 'State Pension') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_sp">
                    State Pension
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_smi" name="benefitList" type="checkbox" value="Support for Mortgage Interest" {{ checked ('benefitList', 'Support for Mortgage Interest') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_smi">
                    Support for Mortgage Interest
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_ssmg" name="benefitList" type="checkbox" value="Sure Start Maternity Grant" {{ checked ('benefitList', 'Sure Start Maternity Grant') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_ssmg">
                    Sure Start Maternity Grant
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_sda" name="benefitList" type="checkbox" value="Severe Disability Allowance" {{ checked ('benefitList', 'Severe Disability Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_sda">
                    Severe Disability Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_wfp" name="benefitList" type="checkbox" value="Winter Fuel Payment" {{ checked ('benefitList', 'Winter Fuel Payment') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_wfp">
                    Winter Fuel Payment
                  </label>
                </div>                -->
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_notDiscussed" name="benefitList" type="checkbox" value="No benefit" data-behaviour="exclusive" {{ checked ('benefitList', 'No benefit') }} >
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_notDiscussed">
                    No benefit
                  </label>
                </div>

              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
