{% extends "layout.html" %}

{% block pageTitle %}
 Have you identified additional support needs?
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-17/common/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-17/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}  
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Step 2 of 4</span>
      <form action="select-contact-type" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What do you want to remove?
              </h1>
            </legend>
                <div class="govuk-form-group">
                  <div id="contact-hint" class="govuk-hint">
                    You should remove a need if it no longer applies or if the account holder requests for it to be removed. You do not need to add a note about this. 
                  </div>
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="what-additional-support" name="what-additional-support" type="checkbox" value="This person has a mental health condition" {{ checked('what-additional-support', 'This person has a mental health condition') }}>
                        <label class="govuk-label govuk-checkboxes__label" for="what-additional-support">
                          This person has a mental health condition
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="what-additional-support-2" name="what-additional-support" type="checkbox" value="This person is struggling with financial hardship" {{ checked ('what-additional-support', 'This person is struggling with financial hardship') }}>
                        <label class="govuk-label govuk-checkboxes__label" for="what-additional-support-2">
                        This person is struggling with financial hardship
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="what-additional-support-4" name="what-additional-support" type="checkbox" value="This person has thoughts of suicide or self harm (6 point plan)" {{ checked ('what-additional-support', 'This person has thoughts of suicide or self harm (6 point plan)') }}>
                        <label class="govuk-label govuk-checkboxes__label" for="what-additional-support-4">
                          This person has thoughts of suicide or self harm (6 point plan)
                        </label>
                      </div>
                      <div class="govuk-checkboxes__divider">or</div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="what-additional-support-11" name="what-additional-support" type="checkbox" value="Additional needs no longer apply" data-behaviour="exclusive" {{ ('what-additional-support', 'Additional needs no longer apply') }}>
                        <label class="govuk-label govuk-checkboxes__label" for="what-additional-support-11">
                          Remove all additional support needs
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            <a id="continue-button" role="button" draggable="false" class="govuk-button govuk-button--secondary"
              href="/prototype-sprint-wise/ur-17-2/telephony/add-call/add-additional-support-needs">Add or update other needs</a>
          </div>

      </form>
    </div>
  </div>
{% endblock %}
