{% extends "layout.html" %}

{% block pageTitle %}
 Have you identified additional support needs?
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-17/common/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-17/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}  
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Step 2 of 4</span>
      <form action="remove-additional-support-needs" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you want to add or update additional support needs?
              </h1>
            </legend>
            <div class="govuk-inset-text">
              <p class="govuk-body">Current additional support needs:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>this person has a mental health condition</li>
              <li>this person is struggling with financial hardship</li>
              <li>this person has thoughts of suicide or self harm (6 point plan)</li>
            </ul>
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="additional-support-needs-1" name="additional-support-needs" type="radio" value="Yes" {{ checked ('additional-support-needs', 'Yes') }}>
                <label class="govuk-label govuk-radios__label" for="additional-support-needs-1">
                  Yes, add or update additional support needs
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="additional-support-needs-2" name="additional-support-needs" type="radio" value="No updates" onclick="hideNote()" {{ checked ('additional-support-needs', 'No updates') }}>
                <label class="govuk-label govuk-radios__label" for="additional-support-needs-2">
                  No, keep current additional needs
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
