{% extends "layout.html" %}

{% block pageTitle %}
Change your note
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-17/common/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-17/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Inbound phone call · 20 January 2025, 09:37</span>
      Notes history
    </h1>

    <!-- Most recent update -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Updated note</h2>
    <p class="govuk-body-s govuk-!-margin-bottom-1">Updated by Agent 1003</p>
    <p class="govuk-body-s govuk-!-margin-bottom-3">21 January 2025 at 10:14</p>

    <div class="govuk-inset-text">
      Call disconnected before reason was established.  
      Did not call back because caller was not identified as vulnerable.
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!-- Earlier update -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Original note</h2>
    <p class="govuk-body-s govuk-!-margin-bottom-1">Created by Agent 1003</p>
    <p class="govuk-body-s govuk-!-margin-bottom-3">20 January 2025 at 09:37</p>

    <div class="govuk-inset-text">
      Call disconnected before reason was established.
    </div>

  </div>
</div>


{% endblock %}
