{% extends "layout.html" %}

{% block pageTitle %}
 Have you identified additional support needs?
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-17/common/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-17/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}  
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="check-additional-needs-3" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Step 2 of 3</span>
              <h1 class="govuk-fieldset__heading">
                What do you want to remove?
              </h1>
            </legend>
                <div class="govuk-form-group">
                  <div id="contact-hint" class="govuk-hint">
                    You should remove a need if it no longer applies or if the account holder requests for it to be removed. You do not need to add a note about this. 
                  </div>
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes" id="support-needs-group">

                   <!-- Master: Select all support needs -->
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input"
                            id="what-additional-support-all"
                            name="selectAllSupportNeeds"
                            type="checkbox"
                            value="all"
                            data-behaviour="select-all"
                            aria-describedby="select-all-context">
                      <label class="govuk-label govuk-checkboxes__label" for="what-additional-support-all">
                        Remove all support needs
                      </label>
                      <span id="select-all-context" class="govuk-visually-hidden">
                        Select or unselect all following options
                      </span>
                    </div>

                    <!-- Regular items -->
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input"
                            id="what-additional-support"
                            name="what-additional-support"
                            type="checkbox"
                            value="This person has a mental health condition">
                      <label class="govuk-label govuk-checkboxes__label" for="what-additional-support">
                        This person has a mental health condition
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input"
                            id="what-additional-support-2"
                            name="what-additional-support"
                            type="checkbox"
                            value="This person is struggling with financial hardship">
                      <label class="govuk-label govuk-checkboxes__label" for="what-additional-support-2">
                        This person is struggling with financial hardship
                      </label>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </div>

      </form>
    </div>
  </div>



<script>
  (function () {
    // Grab elements right where we are in the DOM
    const group = document.getElementById('support-needs-group');
    console.log('[SelectAll] group found?', !!group);
    if (!group) return;

    const selectAll = group.querySelector('[data-behaviour="select-all"]');
    const exclusiveNone = group.querySelector('[data-behaviour="exclusive"]');
    const items = Array.from(group.querySelectorAll('.govuk-checkboxes__input'))
      .filter(i => i !== selectAll && i !== exclusiveNone);

    console.log('[SelectAll] selectAll:', !!selectAll, 'exclusiveNone:', !!exclusiveNone, 'items:', items.length);

    function enabledItems() {
      return items.filter(i => !i.disabled);
    }

    function syncSelectAll() {
      const enabled = enabledItems();
      const allChecked = enabled.every(i => i.checked);
      const someChecked = enabled.some(i => i.checked);

      if (selectAll) {
        selectAll.checked = allChecked;
        selectAll.indeterminate = !allChecked && someChecked; // show partial state
      }
      console.log('[SelectAll] sync -> allChecked:', allChecked, 'someChecked:', someChecked);
    }

    function setAllRegular(checked) {
      enabledItems().forEach(i => { i.checked = checked; });
    }

    // Master toggles all; clears exclusive 'none'
    if (selectAll) {
      selectAll.addEventListener('change', () => {
        console.log('[SelectAll] master changed ->', selectAll.checked);
        if (exclusiveNone) exclusiveNone.checked = false;
        setAllRegular(selectAll.checked);
        syncSelectAll();
      });
    }

    // Regular items: keep master in sync; any selection clears 'none'
    items.forEach(i => {
      i.addEventListener('change', () => {
        console.log('[SelectAll] item changed ->', i.id, i.checked);
        if (exclusiveNone && i.checked) exclusiveNone.checked = false;
        syncSelectAll();
      });
    });

    // Exclusive 'none': clear everything including master
    if (exclusiveNone) {
      exclusiveNone.addEventListener('change', () => {
        console.log('[SelectAll] none changed ->', exclusiveNone.checked);
        if (exclusiveNone.checked) {
          setAllRegular(false);
          if (selectAll) {
            selectAll.checked = false;
            selectAll.indeterminate = false;
          }
        }
      });
    }

    // Initialise state
    syncSelectAll();
  })();
</script>


{% endblock %}
