
{% extends "layout.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-17/common/header.html" %}
  {% include "/prototype-sprint-wise/ur-17/common/keydetail-bar-additional-support-needs.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-sprint-wise/ur-17/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-16/common/phase-banner.html" %}
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="home-additional-needs.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Support needs</a>
        </li>
      </ol>
    </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" aria-describedby="additiona-needs-hint">Support needs</h1>
    <div id="additiona-needs-hint" class="govuk-hint">
      Theses notes only apply to support needs. You can find general contact notes in the account's main contact history.
    </div>
  </div>
    <div class="govuk-grid-column-one-third">
    <form action="/prototype-sprint-wise/ur-16/telephony/add-call/reviewed" method="post">
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" style="margin-left: auto;" data-module="govuk-button" formaction="#">
          Add call details
        </button>
      </div>
    </form>
    </div>
</div>

  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">

      <!-- CARD 1: Inbound phone call -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Inbound phone call: 20 January 2025, 09:37</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-0">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Removed support needs</dt>
              <dd class="govuk-summary-list__value">This person is struggling with financial hardship</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Updated support needs</dt>
              <dd class="govuk-summary-list__value">This person has a mental health condition</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Notes</dt>
              <dd class="govuk-summary-list__value">Note goes here</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Who the contact was with</dt>
              <dd class="govuk-summary-list__value"><p class="govuk-body">Christopher Fox</p></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Agent ID</dt>
              <dd class="govuk-summary-list__value"><p class="govuk-body">1003</p></dd>
            </div>
          </dl>
        </div>
      </div>

      <!-- CARD 2: Added support needs -->
      <div class="govuk-summary-card govuk-!-margin-top-4">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Inbound phone call: 20 March 2024, 13:02
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-0">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Added support needs</dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                  <li>This person is struggling with financial hardship</li>
                  <li>This person has a mental health condition</li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Notes</dt>
              <dd class="govuk-summary-list__value">Claimant is living with depression. They cannot afford repayments. Claimant is very distressed. Do not send further overpayment letters. All other correspondence must be done over the phone or in person.</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Who the contact was with</dt>
              <dd class="govuk-summary-list__value"><p class="govuk-body">Christopher Fox</p></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Agent ID</dt>
              <dd class="govuk-summary-list__value"><p class="govuk-body">1003</p></dd>
            </div>
          </dl>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
