{% extends "layout.html" %}
{% block pageTitle %}
Which benefit did you discuss with the caller?
{% endblock %}

{% block header %}
  {% include "prototype-sprint-wise/sprint23/common/opt1/inside/header-navigation_contactHistory-active.html" %}
    {% include "prototype-sprint-wise/sprint23/common/opt1/keydetail-bar.html" %}
    
{% endblock %}


{% block footer %}
  {% include "prototype-sprint-wise/sprint23/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "prototype-sprint-wise/sprint23/common/phase-banner--user-research.html" %}
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../home-page.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Contact history</a>
      </li>
    </ol>
    </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  </div>
</div>

{% endblock %}
