{% extends "layout.html" %}
{% block pageTitle %}
Error: Were these enquiries resolved?
{% endblock %}

{% block header %}
{% include "prototype-sprint-wise/sprint23/common/opt2/header-navigation_home-active.html" %}
{% include "prototype-sprint-wise/sprint23/common/opt2/keydetail-bar-call-log.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-sprint-wise/sprint23/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "prototype-sprint-wise/sprint23/common/phase-banner--user-research.html" %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#full-name-input">Select whether enquiry was resolved</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Were these enquiries resolved?</h1>
        <div class="govuk-form-group govuk-!-margin-bottom-8">
                <!-- Accordion 1 -->
                <div class="{{isEsa}}">
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Employment and Support Allowance</h2>
                  <div class="govuk-form-group">
                    <!-- <h3 class="govuk-heading-s {{esaPayment}}">Payment enquiry</h3> -->
                    <dl class="govuk-summary-list {{esaPayment}}">
                      <div class="govuk-summary-list__row {{esaNextPaymentDate}}">
                        <dt class="govuk-summary-list__key">
                          Next payment date
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-margin-bottom-0">
                          <span class="govuk-visually-hidden"> Select option</span>
                          <div class="govuk-form-group govuk-!-margin-bottom-0 govuk-form-group--error">
                            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                              <p id="whereDoYouLive-error" class="govuk-error-message govuk-!-margin-bottom-1">
                                <span class="govuk-visually-hidden">Error:</span> Select whether enquiry was resolved
                              </p>
                              <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="paymentEnquiry-1" name="paymentEnquiry-action" type="radio" value="Resolved">
                                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-0" for="paymentEnquiry-1">
                                    Resolved
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="paymentEnquiry-2" name="paymentEnquiry-action" type="radio" value="Not resolved">
                                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-0" for="paymentEnquiry-2">
                                    Not resolved
                                  </label>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                      </dd>
                      </div>
                      <div class="govuk-summary-list__row {{esaNextPaymentAmount}}">
                        <dt class="govuk-summary-list__key">
                          Next payment amount
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-margin-bottom-0">
                          <span class="govuk-visually-hidden"> Select option</span>
                          <div class="govuk-form-group govuk-!-margin-bottom-0 govuk-form-group--error">
                            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                              <p id="whereDoYouLive-error" class="govuk-error-message govuk-!-margin-bottom-1">
                                <span class="govuk-visually-hidden">Error:</span> Select whether enquiry was resolved
                              </p>
                              <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="nextPaymentamt-1" name="nextPaymentamt-action" type="radio" value="Resolved">
                                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-0" for="nextPaymentamt-1">
                                    Resolved
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="nextPaymentamt-2" name="nextPaymentamt-action" type="radio" value="Not resolved">
                                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-0" for="nextPaymentamt-2">
                                    Not resolved
                                  </label>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                      </dd>
                      <!-- <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Remove<span class="govuk-visually-hidden">enquiry</span>
                        </a>
                      </dd> -->
                      </div>
                      <!-- <div class="govuk-summary-list__row {{esaMissingPayment}}">
                        <dt class="govuk-summary-list__key">
                          Missing payment
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-margin-bottom-0 govuk-!-padding-0">
                          <span class="govuk-visually-hidden"> Select option</span>
                          <div class="govuk-form-group govuk-!-margin-bottom-0">
                            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                              <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="nextPaymentamt-1" name="nextPaymentamt-action" type="radio" value="Resolved">
                                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-0" for="nextPaymentamt-1">
                                    Resolved
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="nextPaymentamt-2" name="nextPaymentamt-action" type="radio" value="Not resolved">
                                  <label class="govuk-label govuk-radios__label govuk-!-padding-bottom-0" for="nextPaymentamt-2">
                                    Not resolved
                                  </label>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                        </dd>
                      </div> -->
                    </dl>
                  </div>
                </div>
        </div>
      </div>
        <!-- Do you want to add more information -->
        <div class="govuk-grid-column-two-thirds">
          <form method="post" action="/prototype-sprint-wise/sprint23/opt2/engagement-log-journey/add-note" novalidate>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                  Do you want to add anything else about these enquiries?
                </legend>
                <!-- <div id="add-another-hint" class="govuk-hint">
                  You will write note about this call.
                </div> -->
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="add-another">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="add-another-2">
                      No
                    </label>
                  </div>
                </div>
          
              </fieldset>
            </div>
          
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </form>
        </div>
    </div>
    
{% endblock %}


