{% extends "layout.html" %}

{% block pageTitle %}
Additional needs
{% endblock %}


{% block header %}
  {% include "/prototype-sprint-wise/ur-17/common/header.html" %}
  {% include "/prototype-sprint-wise/ur-17/common/keydetail-bar-additional-support-needs.html" %}
{% endblock %}

{% block footer %}
{% include "/prototype-sprint-wise/ur-17/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/phase-banner.html" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#"></a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Home</h1>
  </div>
    <div class="govuk-grid-column-one-third">
      <form action="/prototype-sprint-wise/ur-16/telephony/add-call/reviewed" method="post">
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" style="margin-left: auto;" data-module="govuk-button" formaction="#">
            Add call details
          </button>
        </div>
      </form>
    </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!-- to be card styel -->
      <ul class="govuk-grid-row nhsuk-card-group">
        <li class="govuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link govuk-link" href="personal-details.html">Personal details</a>
              </h2>
              <p class="nhsuk-card__description">View personal details, including contact numbers and addresses.</p>
            </div>
          </div>
        </li>
        <li class="govuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link govuk-link" href="contact-history.html">Contact history</a>
              </h2>
              <p class="nhsuk-card__description">View notes and details about previous contact.</p>
            </div>
          </div>
        </li>
        <li class="govuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link govuk-link" href="benefit-payment.html">Benefit payments</a>
              </h2>
              <p class="nhsuk-card__description">View details, including payment frequency and amounts.</p>
            </div>
          </div>
        </li>
        <li class="govuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link govuk-link" href="additional-needs-4.html">Historical support needs</a>
              </h2>
              <p class="nhsuk-card__description">View historical notes on support needs.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
