{% extends "layout.html" %}

{% block pageTitle %}
  Colleague View internal prototype homepage
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Colleague View
      </h1>

      <p>Colleague view lets checks a customer's benefit information.</p>
      <p>Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Answer basic customer queries about benefits they receive</li>
        <li>Log the details of contact with a customer</li>
        <li>Check previous contact the customer has had with the DWP</li>
        <li>Access a customer's personal details</li>
      </ul>
    </div>
  </div>

  <!--<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Online Identity and Verification (OIDV)
      </h2>
      <p>If the Online identity and Verification (OIDV) journey is embedded into the Customer View designs you are viewing, you may be asked for authentication codes. The OIDV authentication codes are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Register email: 283194</li>
        <li>Register mobile: 969862</li>
        <li>Sign in mobile: 471350</li>
      </ul>
    </div>
  </div>-->

            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-m">Colleague view all prototype journey so far</h2>
                  <section class="govuk-!-margin-top-3">
                    <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                      <strong class="govuk-tag">V1.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                        <h1 class="govuk-heading-m"><a href="sprint3/home-sprint3">Colleague view prototype journey - Sprint 3</a>  </h1>
                        <p>Dates: December 16 2022</p>
                    <!--
                    <ul class="govuk-list govuk-list--bullet">
                    <li>The all-in-one design lets users view all their benefit information in one place</li>
                    <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
                    <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
                    </ul>
                    -->
                    </div>
                  </section>

                <section class="govuk-!-margin-top-3">
                  <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                    <strong class="govuk-tag">V2.1</strong> <strong class="govuk-tag govuk-tag--red">In-progress</strong><br>
                    <h1 class="govuk-heading-m">Colleague view prototype journey - Sprint 13 </h1>
                    <p>Updated prototype based on GDS standards (GOVUK) and DWP design system to consideration of agent facing service</p>
                    <p>Prototype options for usability testing -round 1:</p>
                    <h3 class="govuk-heading-s"><a href="sprint13/opt1/index">Prototype options-1</a> </h3>
                    <p class="govuk-body">Prototype option 1 have:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Diplay upcomming payment in table formate on Payment and awards page </li>
                        <li>Adding note in separate page </li>
                      </ul>
                    <h3 class="govuk-heading-s"><a href="sprint13/opt2/index">Prototype options-2</a> </h3>
                    <p class="govuk-body">Prototype option 1 have:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Diplay upcomming payment in card/box formate on Payment and awards page </li>
                        <li>Adding note in separate page </li>
                      </ul>

                    <p>We iterated and tested this design during Beta sprint 12 - 13</p>
                    <p>Dates: April 05 2023</p>

                  </div>
                </section>
                  </div>
                </div>



{% endblock %}
