{% extends "layout.html" %}

{% block pageTitle %}
  Colleague View internal prototype homepage
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Colleague View
      </h1>

      <p>Colleague view portal allows agents to access multiple benefits of a citizen.</p>
      <p>The service is used for accessing the following things for citizen:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Answer basic customer queries about benefits they receive</li>
        <li>Log the details of contact with a customer</li>
        <li>Check previous contact the customer has had with the DWP</li>
        <li>Access a customer's personal details</li>
      </ul>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                Prototype sprint-wise  
              </span> 
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              Included latest version end to end prototype.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
            <!----------------- Latest prototype for sprint 27---------------->
            <section class="govuk-!-margin-top-3">
              <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                <strong class="govuk-tag">V6.0</strong> <strong class="govuk-tag govuk-tag--turquoise">End to end journey</strong><br>
                <h2 class="govuk-heading-m">Latest prototype journey - Sprint 27</h2>
                <h3 class="govuk-heading-s"><a href="prototype-sprint-wise/sprint23/opt1/index">Prototype option 1</a></h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Adding contact history and note from structure data with individual enquiries.</li>
                  <li>Updated content.</li>
                  <li>Filter feature for payment history table.</li>
                  <li>Personal details page updated with full address, multiple mobile/landline numbers</li>
                </ul>
               
                <h3 class="govuk-heading-s"><a href="prototype-sprint-wise/sprint23/opt2/index">Prototype option 2</a></h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Adding contact history from structure data and adding single call information/note about all enquiries.</li>
                  </ul>
                <p>Date: June 26 2023</p>
                  
              </div>
            </section>
            <!----------------- Sprint-22 Prototype ---------------->
            <section class="govuk-!-margin-top-3">
              <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                <strong class="govuk-tag">V5.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h2 class="govuk-heading-m">Colleague view prototype journey - Sprint 22</h2>
                <h3 class="govuk-heading-3"><a href="prototype-sprint-wise/sprint22/opt1/index.html">View Prototype</a>  </h3>
                <p>Date: July 31 2023</p>
              <!--
              <ul class="govuk-list govuk-list--bullet">
              <li>The all-in-one design lets users view all their benefit information in one place</li>
              <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
              <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
              </ul>
              -->
              </div>
            </section>
            <!----------------- Sprint-19 Prototype ---------------->
            <section class="govuk-!-margin-top-3">
              <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                <strong class="govuk-tag">V4.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h2 class="govuk-heading-m">Colleague view prototype journey - Sprint 19</h2>
                <h3 class="govuk-heading-s"><a href="prototype-sprint-wise/sprint19/opt1/index">Prototype option-1</a></h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Discovery how agent finds detailed information about Awards components, deduction from payment</li>
                </ul>
                <h3 class="govuk-heading-s"><a href="prototype-sprint-wise/sprint19/opt2/index">Prototype option-2</a></h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>AB testing and discovery how agent finds detailed information about Awards components, deduction from payment</li>
                  </ul>
                <p>Date: June 26 2023</p>
                  
              </div>
            </section>
            <!----------------- Sprint-13 Prototype ---------------->
            <section class="govuk-!-margin-top-3">
              <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                <strong class="govuk-tag">V2.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h2 class="govuk-heading-m">Colleague view prototype journey - Sprint 13</h2>
                <h3 class="govuk-heading-s"><a href="prototype-sprint-wise/sprint13/opt1/index">Prototype option-1</a> </h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Display upcoming payment in tabular format for Payment and awards page</li>
                  <li>Adding note in separate page</li>
                </ul>
                <h3 class="govuk-heading-s"><a href="prototype-sprint-wise/sprint13/opt2/index">Prototype option-2</a> </h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>AB testing of Payment and awards page with tile design</li>
                </ul>

                <p>This design is tested in Beta Sprint 12 and 13</p>
                <p>Date: April 05 2023</p>
              <!--
              <ul class="govuk-list govuk-list--bullet">
              <li>The all-in-one design lets users view all their benefit information in one place</li>
              <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
              <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
              </ul>
              -->
              </div>
            </section>            
            <!----------------- Sprint-3 Prototype ---------------->
              <section class="govuk-!-margin-top-3">
                <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                  <strong class="govuk-tag">V1.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                  <h2 class="govuk-heading-m">Colleague view prototype journey - Sprint 3</h2>
                    <h3 class="govuk-heading-s"><a href="sprint3/home-sprint3">View Prototype</a>  </h3>
                    <p>Date: December 16 2022</p>
                <!--
                <ul class="govuk-list govuk-list--bullet">
                <li>The all-in-one design lets users view all their benefit information in one place</li>
                <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
                <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
                </ul>
                -->
                </div>
              </section>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                Prototypes for usability testing
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
              Prototypes are only for usability testing purpose.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
            <div class="govuk-list">
              <!-----------------Prototype for Usability Round-5 (Sprint22)---------------->
              <section class="govuk-!-margin-top-3">
                <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                  <strong class="govuk-tag">V2.2</strong> <strong class="govuk-tag govuk-tag--red">In-progress</strong><br>
                  <h2 class="govuk-heading-m">UR round 5 - Sprint 22  </h2>
                  <p>Based on the outcome of UR round 2 and round 3 (Survey). As discussed GOV.UK Beta phase banner will be used in developed interface not for testing, so replaced with testing phase banner</p>
                  <h3 class="govuk-heading-s"><a href="sprint22/opt1/index">View Prototype</a></h3>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Discovery how agent finds detailed information about Awards components, deduction from payment</li>
                    </ul>
                    <p>Dates: August 09 2023</p>
                </div>
              </section>
              <!-----------------Prototype for Usability Round-4 with two option (Sprint19)---------------->
              <section class="govuk-!-margin-top-3">
                <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                  <strong class="govuk-tag">V2.2</strong> <strong class="govuk-tag govuk-tag--red">In-progress</strong><br>
                  <h2 class="govuk-heading-m">UR round 4 - Sprint 19  </h2>
                  <p>Based on the outcome of UR round 2 and round 3 (Survey). As discussed GOV.UK Beta phase banner will be used in developed interface not for testing, so replaced with testing phase banner</p>
                  <h3 class="govuk-heading-s"><a href="sprint19/opt1/index">Prototype option-1</a></h3>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Discovery how agent finds detailed information about Awards components, deduction from payment</li>
                    </ul>
                    <h3 class="govuk-heading-s"><a href="sprint19/opt2/index">Prototype option-2</a></h3>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>AB testing and discovery how agent finds detailed information about Awards components, deduction from payment</li>
                      </ul>

                      <p>Dates: June 26 2023</p>
                </div>
              </section>

              <!-----------------Prototype for Usability Round-2 with two option (Sprint13)---------------->

              <section class="govuk-!-margin-top-3">
                <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                  <strong class="govuk-tag">V2.1</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                  <h2 class="govuk-heading-m">UR round 2 - Sprint 13 </h2>
                  <p>Prototype has been updated based on GDS standards (GOVUK) and DWP design system to consideration of agent facing service</p>
                  <h3 class="govuk-heading-s"><a href="sprint13/opt1/index">Prototype option-1</a> </h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Display upcoming payment in tabular format for Payment and awards page</li>
                    <li>Adding note in separate page</li>
                  </ul>
                  <h3 class="govuk-heading-s"><a href="sprint13/opt2/index">Prototype option-2</a> </h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>AB testing of Payment and awards page with tile design</li>
                  </ul>

                  <p>This design is tested in Beta Sprint 12 and 13</p>
                  <p>Dates: April 05 2023</p>

                </div>
              </section>
          </div>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                Extra scenario
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
              Included all extra scenarios prototypes for e.g. type error messages, cookies, filter, redact note.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
            
            <!-----------------Failure Scenarios---------------->
          
            <section class="govuk-!-margin-top-1">
              <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                <strong class="govuk-tag">V3.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h2 class="govuk-heading-m">Failure scanrios - Error prototypes</h2>
                <h3 class="govuk-heading-s"><a href="extra-scenarios/error-handling/prototype/index.html">Colleague View prototype for Error handling scenarios</a> </h3>
                <p class="govuk-!-margin-bottom-0">Dates: May 09 2023</p>
              </div>
            </section>
            
            <!-----------------Cookies - Essential cookies (strictly necessary)---------------->
            
            <section class="govuk-!-margin-top-3">
              <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                <strong class="govuk-tag">V3.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h2 class="govuk-heading-m">Cookies</h2>
                  <h3 class="govuk-heading-s"><a href="extra-scenarios/cookies/prototype/index.html">Cookies on the DWP Design System website</a> </h3>
                  <p class="govuk-body">Cookies are small data files that a website sends to a user’s computer. They’re used to store information about how users browse a website.</p>
                  <p class="govuk-!-margin-bottom-0">Dates: May 09 2023</p>
              </div>
            </section>

            <!-----------------Note redaction journey (Senior agent)---------------->
            
            <section class="govuk-!-margin-top-3">
              <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                <strong class="govuk-tag">V3.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h2 class="govuk-heading-m">Note redaction journey</h2>
                  <h3 class="govuk-heading-s"><a href="extra-scenarios/note-redaction-journey/index.html">Note redaction workflow</a> </h3>
                  <p class="govuk-body">Please note this journey captures only the redaction workflow. User research is required to progress with end to end design for redaction workflow for Senior Agent.</p>
                  <p class="govuk-!-margin-bottom-0">Dates: August 29 2023</p>
              </div>
            </section>

            <!----------------- Filter benefits on Payment history page ---------------->
            
            <section class="govuk-!-margin-top-3">
              <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                <strong class="govuk-tag">V3.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h2 class="govuk-heading-m">Design with filter option to quickly search specific benefit related information</h2>
                  <h3 class="govuk-heading-s"><a href="extra-scenarios/filter-payment-history/payment-and-awards#payment-history">Filter feature on Payment history</a> </h3>
                  <p class="govuk-body">Functionality that enabled users to look at different benefits payment history information separately would help meet user needs, allowing users to quickly review payment history information related to specific benefits.</p>
                  <p class="govuk-!-margin-bottom-0">Dates: September 22 2023</p>
              </div>
            </section>

          </div>
        </div>
      </div>
            <!-----------------Agent Login & dashboard - to access Colleague view and Searchlight---------------->
            
            <!-- <section class="govuk-!-margin-top-3">
              <div class="govuk-!-padding-4" style="border:1px solid #999999;">
                <strong class="govuk-tag">V3.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h2 class="govuk-heading-m">Agent dashboard</h2>
                  <h3 class="govuk-heading-s"><a href="extra-scenarios/note-redaction-journey/index.html">Agent dashboard - Colleague view & Searchlight access</a> </h3>
                  <p class="govuk-body">Please note this journey captures only the redaction workflow. User research is required to progress with end to end design for redaction workflow for Senior Agent.</p>
                  <p class="govuk-!-margin-bottom-0">Dates: August 29 2023</p>
              </div>
            </section> -->
    </div>
  </div>


{% endblock %}
