{% extends "layout.html" %}

{% block pageTitle %}
  Colleague View internal prototype homepage
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Colleague View prototypes
      </h1>

      <p>The aim of the Colleague View minimum viable product (MVP) is give customers’ benefit information to agents answering the telephones, so that they can answer common questions.</p>
      <p>The users that we are focusing on for MVP are agents that work on Employment and Support Allowance (ESA).</p>

      <p>The scope of the MVP is to meet agents’ needs for:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
        <li>answering questions about next payment dates and amounts</li>
        <li>viewing a customer’s personal details</li>
        <li>adding details about a call with a customer</li>
        <li>viewing details about previous calls with a customer</li>
      </ul>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#ur-prototypes">
              User research prototypes
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#dev-baseline-prototype">
              Development baseline prototype
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#error-designs">
              Error designs
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#archived-designs">
              Archived designs
            </a>
          </li>
        </ul>
        <!-- TAB1: User research prototypes -->
        <div class="govuk-tabs__panel" id="ur-prototypes">
          <h2 class="govuk-heading-l">User research prototypes</h2>
          <!-- round-8 -->
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint XX</strong> <strong class="govuk-tag govuk-tag--red">In progress</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">June 2024</span>
              <h1 class="govuk-heading-m">Round 8</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- <p class="govuk-body">Usability testing, A/B testing - ESA Agents</p>
            <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            <p class="govuk-body">In this round, we want to understand if:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the multi-select function for call logging works</li>
              <li>agents can easily find the log they need in contact history</li>
              <li>the removal of 'customer' causes any confusion for users</li>
              <li>users feel confident in completing the call or starting the service again</li>
            </ul>
            <div class="govuk-!-margin-top-4">
              <a href="/prototype-sprint-wise/ur-8/a/index.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
          <!-- round-7 -->
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 30/31</strong> <strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">December 2023</span>
              <h1 class="govuk-heading-m">Round 7</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">In round 7, we A/B tested:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a call logging journey that starts in the same area of the design as the call history</li>
              <li>a design with a call-to-action to log the details of the call on every page </li>
              <li>We also did testing in this round with users that had accessibility needs</li>
            </ul>
            <div class="govuk-!-margin-top-4">
              <a href="ur7-user-research-prototypes.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
          <!-- round-6 -->
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 25</strong> <strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">September 2023</span>
              <h1 class="govuk-heading-m">Round 6</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">Discovery interview - ESA Agents</p>
            <p class="govuk-body">Round 6 was an interview round as we needed more details about the contact recording user journey before we could iterate the design.</p>
            <p class="govuk-body">In this round, we wanted to understand:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>what users need to see within contact recording and contact history</li>
              <li>how agents update a customers' personal details and log safeguarding issues</li>
              <li>more about payment statuses</li>
              <li>agents' use of specific words that are used in relation to their jobs</li>
              <li>questions that an agent asks if a caller is not an appointee, family or carer and calls on behalf of someone else</li>
            </ul>
            <div class="govuk-!-margin-top-4">
              <a href="/prototype-sprint-wise/sprint22/opt1/index.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View round 6 findings</a>
            </div>
          </div>
          <!-- round-5 -->
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 22</strong> <strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">August 2023</span>
              <h1 class="govuk-heading-m">Round 5</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">In round 5, we usability tested an iterated prototype based on round 4 feedback.</p>
            <p class="govuk-body">We tested journeys that included agents answering questions about: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>next payment dates</li>
              <li>next payment amounts</li>
              <li>previous payments</li>
              <li>breakdowns of benefits </li>
            </ul>
            <div class="govuk-!-margin-top-4">
              <a href="prototype-sprint-wise/ur-5/opt1/index" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View round 5 prototype</a>
            </div>
          </div>
          <!-- round-4 -->
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 19</strong> <strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">July 2023</span>
              <h1 class="govuk-heading-m">Round 4</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">In this round, we usability tested an iterated prototype based on user feedback from previous rounds. </p>
            <p class="govuk-body">We focused on the screens that agents will use to answer questions about next payment dates and amounts.</p>
            
            <div class="govuk-!-margin-top-4">
              <a href="ur4-user-research-prototypes.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View round 4 prototype</a>
            </div>
          </div>
          <!-- round-3 -->
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 18</strong> <strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">June 2023</span>
              <h1 class="govuk-heading-m">Round 3</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">Round 3 was a survey to find out more about:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>what personal information an agent needs about a customer</li>
              <li>how and when agents add notes about a call</li>
              <li>when agents ask if a customer is with the caller if someone is calling on their behalf</li>
            </ul>
            <div class="govuk-!-margin-top-4">
              <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View round 3 findings</a>
            </div>
          </div>
          <!-- round-2 -->
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 14/15</strong> <strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">April 2023</span>
              <h1 class="govuk-heading-m">Round 2</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">In this round, we usability tested:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a journey for agents to answer payment date and amount questions</li>
              <li>a journey for agents to add details of a call with a customer</li>
            </ul>
            <p class="govuk-body">We also A/B tested two designs to get feedback on different approaches for 'Payments and awards' page.</p>
            <div class="govuk-!-margin-top-4">
              <a href="ur2-user-research-prototypes.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"> <strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">June 2022</span>
              <h1 class="govuk-heading-m">Round 1</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">Round 1 was a discovery round to find out more about the pain points agents have with the existing process.</p>
            <!-- <p class="govuk-body">The aims of this round are:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>adding contact history and note from structure data.</li>
              <li>view added contact history</li>
              <li>use filter of contact history</li>
            </ul> -->
            <div class="govuk-!-margin-top-4">
              <a href="sprint3/home-sprint3" role="button" draggable="false" class="govuk-button  data-module="govuk-button">View round 1 prototype</a> <p class="govuk-body"><a href=" https://dwpdigital.atlassian.net/wiki/spaces/SU/pages/132869325927/UR1" class="govuk-link">View round 1 findings (confluence)</a></p>
            </div>
          </div>
        </div>
        <!-- TAB2: Development baseline prototype-->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="dev-baseline-prototype">
          <h2 class="govuk-heading-l">Development baseline prototype</h2>
          <!-- MVP 1.0: Baseline for dev based on UR7-opt2 outcome -->
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 39</strong> <strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">March  2024: Business release</span>
              <h1 class="govuk-heading-m">V2.0 - Prototype MVP 1.0</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">This prototype builds on the UR 7 option 2 journey to include changes required based on feedback from Service Modernisation. This design allows agents to access a customer's benefit information if they had a different type of contact with the user other than a phone call. There is also an option to only view a customer’s benefit information - this is for Quality Checkers and team leads.</p>
            <p class="govuk-body">These additional screens have not been tested with users. The Colleague View team and Service Modernisation are aware of the risks of releasing a service with no user research on particular journeys.</p>
            <div class="govuk-!-margin-top-4">
              <!-- <a href="prototype-dev-baseline/mvp-1_0/index.html " role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" aria-disabled="true" disabled>View prototype</a> -->
              <a href="prototype-dev-baseline/mvp-1_0/index.html " role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
          <!-- MVP 0.8: Baseline for Testing team based on UR7-opt1 outcome -->
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
          <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 35</strong> <strong class="govuk-tag">Completed</strong></div>
          <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
            <span class="govuk-caption-m">January  2024: technical release</span>
            <h1 class="govuk-heading-m">V1.0 - Prototype MVP 0.8</h1>
          </div>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body">This prototype aligns with what the development team have built, as of January 2024. This is so that the test engineers have a correct version to test against.</p>
          <!-- <p class="govuk-body">The aims of this round are:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>adding contact history and note from structure data.</li>
            <li>view added contact history</li>
            <li>use filter of contact history</li>
          </ul> -->
          <div class="govuk-!-margin-top-4">
            <a href="/prototype-dev-baseline/prototype-dev-QA/mvp-0_8/index.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
          </div>
          </div>
          <!-- MVP 1+: Baseline for dev based on UR7-opt2 outcome -->
           <!-- <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 44</strong> <strong class="govuk-tag govuk-tag--red">In progress</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">June  2024: CV Live issues</span>
              <h1 class="govuk-heading-m">V3.0 - Prototype MVP 1++</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">This prototype is only for purpose to fix live issues of MVP 1.0</p>
            <div class="govuk-!-margin-top-4">
              <a href="prototype-dev-baseline/mvp-1_1/index.html " role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" disabled>View prototype</a>
            </div>
          </div> -->
        </div>
        <!-- TAB3: Error designs-->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="error-designs">
          <h2 class="govuk-heading-l">Error designs</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="govuk-!-padding-6" style="background-color:#f3f2f1; border-radius:10px;">
                <div class="govuk-!-text-align-right"><strong class="govuk-tag">Completed</strong></div>
                <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                  <h1 class="govuk-heading-m">Technical errors</h1>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">These are messages that the user will see if something technical has not happened as expected, such as a failed API call.</p>
                </ul>
                <div class="govuk-!-margin-top-4">
                  <a href="extra-scenarios/error-handling/tech-Error/index.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
                </div>
              </div>
            </div>
            <div class="govuk-grid-column-one-half">
              <div class="govuk-!-padding-6" style="background-color:#f3f2f1; border-radius:10px;">
                <div class="govuk-!-text-align-right"><strong class="govuk-tag">Completed</strong></div>
                <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                  <h1 class="govuk-heading-m">Input errors</h1>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">These are messages that the user gives information that we are not able to use, such as an incorrect National Insurance number.</p>
                </ul>
                <div class="govuk-!-margin-top-4">
                  <a href="extra-scenarios/error-handling/user-input-Error/index" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TAB4: Archived designs-->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archived-designs">
          <h2 class="govuk-heading-l">Archived designs</h2>
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">September - October 2023</span>
              <h1 class="govuk-heading-m">Filter design</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">Functionality that enabled users to look at different benefits payment history information separately would help meet user needs, allowing users to quickly review payment and loged contact history information related to specific benefits.</p>
            </ul>
            <div class="govuk-!-margin-top-4">
              <a href="extra-scenarios/filter-design/filter-featre.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">August - September 2023</span>
              <h1 class="govuk-heading-m">Senior agent: Note redaction journey</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">Please note this journey captures only the redaction workflow. User research is required to progress with end to end design for redaction workflow for Senior Agent.</p>
            </ul>
            <div class="govuk-!-margin-top-4">
              <a href="extra-scenarios/note-redaction-journey/index.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag">Completed</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">May - June 2023</span>
              <h1 class="govuk-heading-m">Cookies</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">Cookies are small data files that a website sends to a user’s computer. They’re used to store information about how users browse a website.</p>
            </ul>
            <div class="govuk-!-margin-top-4">
              <a href="extra-scenarios/cookies/prototype/index.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
          <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
            <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--red">In progress</strong></div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
              <span class="govuk-caption-m">January 2024</span>
              <h1 class="govuk-heading-m">Design iteration: UR7</h1>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">Picked accessibility and usability quick fixes issues (based on prioritization).</p>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Issue type</th>
                  <th scope="col" class="govuk-table__header">Issue</th>
                  <th scope="col" class="govuk-table__header">Jira ticket</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Accessibility</th>
                  <td class="govuk-table__cell">Screen reader software reads text on check answers page vertically (Column by column)</td>
                  <td class="govuk-table__cell">CSV-1644</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Accessibility</th>
                  <td class="govuk-table__cell">Speech to text feature unable to identify which question to select to provide response</td>
                  <td class="govuk-table__cell">CSV-1644</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Accessibility</th>
                  <td class="govuk-table__cell">Screen reader picking up visually hidden content on 'Check your answers' page</td>
                  <td class="govuk-table__cell">CSV-1644</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Usability</th>
                  <td class="govuk-table__cell">Redesign payment and award section (Differentiation between, issued, pending and estimated payments)</td>
                  <td class="govuk-table__cell">CSV-1644</td>
                </tr>
              </tbody>
            </table>
            <!-- <ul class="govuk-list govuk-list--bullet">
              <li>Screen reader software reads text on check answers page vertically (Column by column) - Jira ticket <a href="https://dwpdigital.atlassian.net/browse/CSV-1644" class="govuk-link">CSV-1644</a></li>
              <li>Speech to text feature unable to identify which question to select to provide response - Jira ticket <a href="https://dwpdigital.atlassian.net/browse/CSV-1646" class="govuk-link">CSV-1646</a></li>
              <li>Screen reader picking up visually hidden content on 'Check your answers' page - Jira ticket <a href="https://dwpdigital.atlassian.net/browse/CSV-1647" class="govuk-link">CSV-1647</a></li>
            </ul> -->
            <div class="govuk-!-margin-top-4">
              <a href="extra-scenarios/design-iteration/mvp-1_0/index.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
