{% extends "layout.html" %}

{% block pageTitle %}
  User reserach prototype:UR7
{% endblock %}

{% block beforeContent %}
  <!-- {% include "extra-scenarios/error-handling/common/phase-banner.html" %} -->
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">User research prototypes</span>
      <h1 class="govuk-heading-l">Round 2</h1>
      <div class="govuk-!-padding-bottom-3"><strong class="govuk-tag govuk-tag--purple">Sprint 14/15</strong> <strong class="govuk-tag">Completed</strong></div>
      <p class="govuk-body">UR Round 2 ESA Customer Service Advisors Interviews and Usability Testing. There was greater focus on the payment amount and date query journey in this round</p>
      <p>The aims of this round are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Improve understanding of ESA telephony agent activities, for responding to payment queries from customers</li>
        <li>Logging the receipt of a query from a customer</li>
        <li>Usability testing the following to be agent journeys in combination of payment amount and date query journey and contact recording journey</li>
        <li>Gathering data on experiences of two different designs of the Payments and Awards screen</li>
      </ul>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-!-padding-6" style="background-color:#f3f2f1; border-radius:10px;">
            <span class="govuk-caption-m">April 2023</span>
            <h2 class="govuk-heading-m">Prototype option 1</h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- <p class="govuk-body">The aims of this round are:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understanding of ESA Customer Service Advisors activities including, payment amount and date query journey. </li>
              <li>Recording contact journey</li>
            </ul> -->
            <div class="govuk-!-margin-top-4">
              <a href="sprint13/opt1/index" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="govuk-!-padding-6" style="background-color:#f3f2f1; border-radius:10px;">
            <span class="govuk-caption-m">April 2023</span>
            <h2 class="govuk-heading-m">Prototype option 2</h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- <p class="govuk-body">The aims of this round are:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Understanding of ESA Customer Service Advisors activities including, payment amount and date query journey. </li>
              <li>Recording contact journey</li>
            </ul> -->
            <div class="govuk-!-margin-top-4">
              <a href="sprint13/opt2/index" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


{% endblock %}
