{% extends "layout.html" %}

{% block pageTitle %}
  Tech error - prototype
{% endblock %}


{% block header %}
  {% include "extra-scenarios/error-handling/common/header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "extra-scenarios/error-handling/common/phase-banner.html" %}
  <a class="govuk-back-link" href="/#error-designs">Back</a>
{% endblock %}

{% block footer %}
  {% include "extra-scenarios/error-handling/common/footer.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Error handling scenarios</span>
    <h1 class="govuk-heading-l">Tech errors</h1>
    <!-- Failed API -->
    <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Failed API call</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Scenarios</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Problem with service - while service loading</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="Failed-API-call/Failed-API-call-1.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Problem with service - after user input</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="Failed-API-call/Failed-API-call-2.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Problem with service - Display message on internal page</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="Failed-API-call/Failed-API-call-2_2.html#failedAPI" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
     <!-- Success API call, No data available-->
    <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="successAPI-dataNotavailable">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Success API call, No data available</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Scenarios</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">No data available - Display message on internal page</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="Success-API-call-data-Not-Available/data-not-available-2.html#dataNotAvailable" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <!-- Service is unavailable -->     
      <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="service-unavailable">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Service is unavailable</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Scenarios</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Service is unavailable - General message</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Service-unavailable/service-unavailable-1.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
              <td class="govuk-table__cell">Service is unavailable - When you know when a service will be available</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Service-unavailable/service-unavailable-2.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Session Time-out -->     
      <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="service-unavailable">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Session Time-out</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Scenarios</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Session time-out - A timeout warning</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Session-time-out/service-unavailable-2.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
              <td class="govuk-table__cell">Session time-out - You have been signed out</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Session-time-out/service-timeout-1.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Page not found -->
      <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="session-timeout">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Page not found</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Scenarios</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Page not found - 404 page</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Page-not-found-404/page-not-found.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--  Invalid Credential and Permission denied scenarios -->
      <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="session-timeout">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m"> Invalid Credential and Permission denied</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Scenarios</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"> Invalid Credential</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Invalid-credential-Permission-denied/invalid-credential.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"> Permission denied</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Invalid-credential-Permission-denied/permission-denied.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <!-- <div class="govuk-grid-column-one-third govuk-visually-hidden">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Subsection
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="#">
              Related link
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-link govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div> -->
</div>

{% endblock %}
