{% extends "layout.html" %}

{% block pageTitle %}
  Add notes
{% endblock %}

{% block header %}
  {% include "prototype-sprint-wise/sprint27/common/opt1/header-navigation_home-active.html" %}
      {% include "prototype-sprint-wise/sprint27/common/opt1/keydetail-bar.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-sprint-wise/sprint27/common/phase-banner--user-research.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block footer %}
  {% include "prototype-sprint-wise/sprint27/common/footer.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="show-selected-checkbox-items" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What were the reasons for Christopher Fox's call?
              </h1>
            </legend>
              <span class="govuk-caption-m">Benefit 1 of 3</span>
              <h2 class="govuk-heading-m">ESA</h2>
              <!-- <h2 class="govuk-heading-m">{{ benefit }}</h2> -->         
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Attendance-Allowance" name="Which-benefits-do-you-get" type="checkbox" value="Attendance Allowance" {{ checked("Which-benefits-do-you-get", "Attendance Allowance") }}>
                <label class="govuk-label govuk-checkboxes__label" for="Attendance-Allowance">
                  Attendance Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Carers-Allowance" name="Which-benefits-do-you-get" type="checkbox" value="Carer’s Allowance" {{ checked("Which-benefits-do-you-get", "Carer’s Allowance") }}>
                <label class="govuk-label govuk-checkboxes__label" for="Carers-Allowance">
                  Carer’s Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Disability-Living-Allowance-(DLA)-for-adults" name="Which-benefits-do-you-get" type="checkbox" value="Disability Living Allowance (DLA) for adults" {{ checked("Which-benefits-do-you-get", "Disability Living Allowance (DLA) for adults") }}>
                <label class="govuk-label govuk-checkboxes__label" for="Disability-Living-Allowance-(DLA)-for-adults">
                  Disability Living Allowance (DLA) for adults
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Employment-and-Support-Allowance-(ESA)" name="Which-benefits-do-you-get" type="checkbox" value="Employment and Support Allowance (ESA)" {{ checked("Which-benefits-do-you-get", "Employment and Support Allowance (ESA)") }}>
                <label class="govuk-label govuk-checkboxes__label" for="Employment-and-Support-Allowance-(ESA)">
                  Employment and Support Allowance (ESA)
                </label>
              </div>
            </div>
          </fieldset>
        </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
    </div>
  </div>

{% endblock %}

